html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

ul.todos li {
  display: flex;
  text-align: left;
  margin-bottom: 1em;
  padding: .2em;
  background-color: hsl(187, 100%, 98%);
  border-radius: .5em;
}

ul.todos li:hover {
    background-color: hsl(187, 100%, 96%);
}

ul.todos li input[type=checkbox] {
  margin-right: .5em;
}

ul.todos li input[type=checkbox]:hover {
  cursor: pointer;
}

ul.todos.finished li {
  text-decoration: line-through;
  color: hsl(0, 0%, 42%);
}