@page
@model IndexModel
@{
    ViewData["Title"] = null;
}

<div class="text-center">
    <h1 class="display-4">MillionThings</h1>
    <form method="post" class="needs-validation" novalidate>
        <div>
            <div class="form-floating mb-2">
                <input name="description" id="description" type="text" class="form-control" placeholder="Wash the dishes" required/>
                <label for="description">Add a task</label>
                <div class="invalid-tooltip">
                    Please describe your task to add.
                </div>
            </div>
            <input type="submit" name="submit" value="Add Task" class="btn btn-outline-primary mb-3"/>
        </div>
    </form>
    <div>
        <ul class="todos open list-unstyled">
            @foreach (var todo in Model.Todos)
            {
                <li>
                    <input type="checkbox" onchange="window.location.href = '?action=finish&id=@(todo.Id)'" class="form-check-input" aria-label="done"/>
                    <span style="flex-grow: 1">@todo.Description</span>
                    <span class="material-symbols-rounded delete" onclick="window.location.href = '?action=delete&id=@todo.Id'">delete</span>
                </li>
            }
        </ul>
    </div>
    @{
        if (Model.DoneTodos.Count > 0)
        {
            <button class="btn btn-outline-primary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#finishedTodos" aria-expanded="false" aria-controls="finishedTodos">
                Show @(Model.DoneTodos.Count == 1 ? Model.DoneTodos.Count + " finished task" : Model.DoneTodos.Count + " finished tasks")
            </button>
        }
    }
    <div class="collapse" id="finishedTodos">
        <ul class="todos finished list-unstyled">
            @foreach (var todo in Model.DoneTodos)
            {
                <li>
                    <input type="checkbox" onchange="window.location.href = '?action=reopen&id=@(todo.Id)'" class="form-check-input" aria-label="done" checked/>
                    <span style="flex-grow: 1">@todo.Description</span>
                    <span class="material-symbols-rounded delete" onclick="window.location.href = '?action=delete&id=@todo.Id'">delete</span>
                </li>
            }
        </ul>
    </div>

</div>