@page
@model IndexModel
@{
    ViewData["Title"] = null;
}

<div class="text-center">
    <h1 class="display-4">MillionThings</h1>
    <form method="post" class="needs-validation" novalidate>
        <div>
            <div class="form-floating mb-2">
                <input name="description" id="description" type="text" class="form-control" placeholder="Wash the dishes" required/>
                <label for="description">Todo</label>
                <div class="invalid-tooltip">
                    Please describe your task to add.
                </div>
            </div>
            <input type="submit" name="submit" value="Add Task" class="btn btn-outline-primary mb-3"/>
        </div>
    </form>
    <div>
        <ul class="todos-open list-unstyled">
            @foreach (var todo in Model.Todos)
            {
                <li>
                    <input type="checkbox" onchange="window.location.href = '?action=finish&id=@(todo.Id)'" class="form-check-input" aria-label="done"/>
                    @todo.Description
                </li>
            }
        </ul>
    </div>

</div>